html {
    height: 100%;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
h1 {
    color: yellow;
    font-family: sans-serif;
}
button {
    margin-top: 20px;
    width: 50%;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    background-color: yellowgreen;
    color: darkred;
    cursor: pointer;
}